* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  /* 水平垂直居中 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  position: absolute;
  top: 10px;
}

.range-container {
  position: relative;
}

/* 滑块表单 */
input[type='range'] {
  width: 300px;
  margin: 18px 0;
  /* 取消元素的默认外观样式 */
  -webkit-appearance: none;
}

input[type='range'] {
  outline: none;
}

/* 数字提示 */
input[type='range']+label {
  background-color: #fff;
  width: 80px;
  /* 定位到滑块上面 */
  position: absolute;
  top: -25px;
  /* 居中显示：300(总宽度)/2 - 80(自身宽度)/2 */
  left: 110px;
  padding: 5px 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* 浏览器兼容处理 */
/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track {
  /* 自定义滑动条轨道 */
  background: purple;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  /* 自定义滑动条按钮 */
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  /* 居中到轨道上：（自身高度 - 轨道高度）/2 =》（24-10）/2=7 */
  margin-top: -7px;
  cursor: pointer;
}

/* Firefox */
input[type='range']::-moz-range-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}

/* IE */
input[type='range']::-ms-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}