* {
  box-sizing: border-box;
}

body {
  background-color: #516dff;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
}

h1 {
  line-height: 1.4;
}


.btn {
  background: linear-gradient(135deg, #dfe0e2 10%, #f6f7f7 90%);
  outline: none;
  border-radius: 8px;
  padding: .8rem 4rem;
  color: #2396ef;
  display: inline-block;
  border: 1px solid transparent;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

/* 页面 */
.screen {
  /* 占满一个屏幕 */
  height: 100vh;
  width: 100vw;
  /* 水平垂直居中 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: margin 0.5s ease-out;
}

/* 向上滑动 */
.screen.up {
  margin-top: -100vh;
}

/* 昆虫选择列表 */
.insects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

/* 选择按钮 */
.choose-insect-btn:hover {
  background-color: #fff;
  color: #516dff;
}


.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

/* 昆虫图片 */
.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* 游戏界面 */
.game-container {
  position: relative;
}

/* 时间与分数 */
.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

/* 消息提示 */
.message {
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .4) 10%, rgba(0, 0, 0, .6) 90%);
  width: 100%;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem;
  border-radius: 15px;
  line-height: 2;
  opacity: 0;
  z-index: 100;
  display: none;
  font-size: 20px;
}

.cover {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.message.visible {
  transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
}

.message .continue-btn {
  margin: 0.7rem 0;
}

/* 随机的昆虫 */
.insect {
  cursor: pointer;
  /* 水平垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  position: absolute;
  /* 按照中心位置进行显示 */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.insect img {
  width: 100px;
  height: 100px;
  /* transform: rotate(90deg); */
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

/* 中英文切换按钮 */
.tab-container {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  z-index: 99;
}

.tab-container .tab-item {
  padding: .6rem 1rem;
  background: linear-gradient(135deg, #f1f1f1 10%, #ffffff 90%);
  color: #2396ef;
  cursor: pointer;
}

.tab-container .tab-item:hover,
.tab-container .tab-item.active {
  background: linear-gradient(135deg, #6a92e9 10%, #2b11c4 90%);
  color: #fff;
}

.tab-container .tab-item:first-of-type {
  border-radius: 4px 0 0 4px;
}

.tab-container .tab-item:last-of-type {
  border-radius: 0 4px 4px 0;
}