:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3494e4;
  color: #fff;
  /* 水平居中 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 目标 */
h1 {
  margin: 10px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

/* 杯子 */
.cup {
  height: 330px;
  width: 150px;
  margin: 30px 0;
  background-color: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 倒水杯子 */
.cup.cup-small {
  height: 95px;
  width: 50px;
  /* 还没有倒水的杯子 */
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  /* 水平垂直居中 */
  align-items: center;
  justify-content: center;
  /* 文本水平居中 */
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

/* 已经倒水的杯子 */
.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

/* 小杯子盒子 */
.cups {
  width: 280px;
  display: flex;
  /* 换行 */
  flex-wrap: wrap;
  /* 水平垂直居中 */
  align-items: center;
  justify-content: center;
}

/* 还剩的提示 */
.remained {
  /* 水平垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 占满一个盒子 */
  flex: 1;
  flex-direction: column;
  /* 文本居中 */
  text-align: center;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

/* 进度条 */
.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
}

/* 选择喝水提示 */
.text {
  text-align: center;
  margin: 0 0 5px;
}