* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 233);
  /* 水平垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* 按钮盒子 */
.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

/* 接触按钮，修改透明度 */
.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}