* {
  box-sizing: border-box;
}

body {
  /* 水平垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* 设置背景遮罩 */
.background {
  background: url('bg.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* 高斯模糊效果 */
  filter: blur(20px);
}