* {
  box-sizing: border-box;
}

body {
  /* 水平垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* 图片的宽高设置 */
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* 父盒子容器 */
.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

/* 图片容器 */
.image-container {
  /* 子盒子水平排列 */
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/* 按钮容器 */
.buttons-container {
  display: flex;
  justify-content: space-between;
}

/* 按钮 */
.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}