* {
  box-sizing: border-box;
}

body {
  /*渐变背景*/
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  /*水平垂直居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/*搜索大盒子*/
.search {
  position: relative;
  height: 50px;
}

/*文本框*/
.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

/* 搜索按钮 */
.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

/* 获取焦点时，去除轮廓线 */
.btn:focus,
.input:focus {
  outline: none;
}

/* 搜索框被激活时，输入框宽度变大 */
.search.active .input {
  width: 200px;
}

/* 搜索框被激活时，按钮平移 */
.search.active .btn {
  /* 使用了定位，所以需要平移 */
  transform: translateX(198px);
}