* {
  box-sizing: border-box;
}

body {
  background-color: #3b3b98;
  color: #fff;
  /* 水平垂直居中 */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}



/* 大盒子 */
.container {
  background-color: #23235b;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

/* 标题 */
h2 {
  margin: 10px 0 20px;
  text-align: center;
}

/* 结果框 */
.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  /* 水平布局方式,从左到右 */
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

/* 密码显示框 */
.result-container #result {
  /* 单词在需要时会被强制换行，以便适应容器的宽度 */
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  overflow-y: scroll;
  height: 100%;
}

#result::-webkit-scrollbar {
  width: 1rem;
}

/* 复制按钮 */
.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

/* 按钮的公共样式 */
.btn {
  border: none;
  background-color: #3b3b98;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
}

/* 生成密码按钮 */
.btn-large {
  display: block;
  width: 100%;
}

/* 生成条件 */
.setting {
  display: flex;
  /* 两端对齐 */
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}